:root {
  --foreground: #e5e5e5; 
  --background: #1a1a1a;
  --grey25: #ddd;
  --grey50: #999;
  --blue: #005FD2;
  --yellow: #F8BE15;
  --green: #00907A;
  --red: #F21307;
  --fs1: 1.8rem;
  --fs2: 2.7rem;
  --fs3: 3.6rem;
  --fs4: 5.4rem;
  --mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
  font-size: calc(62.5%);
  line-height: 2rem;
}

body {
  background-color: var(--background);
  font-size: var(--fs1);
  height: auto;
  color: var(--foreground);
}

header {
  background: #1a1a1a;
  cursor: default;
  display: flex;
  padding: 2rem 2rem 5rem;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -moz-user-select: -moz-none;
}

header canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fadein { 
  animation: 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s 1 fadeIn;
}

.slidein { 
  animation: 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s 1 slideIn;
}

footer {
  background: #fff;
  color: var(--green);
  font-family: var(--mono);
  display: flex;
  padding: 2rem 2rem 10rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 35vw;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
  mix-blend-mode: exclusion;
}

h2 {
  color: var(--blue);
  font-size: var(--fs3);
}

h3 {
  font-size: var(--fs2);
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
}

p {
  line-height: 1.5;
}

p a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

nav.action-bar {
  margin: 1.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

nav.action-bar > * {
  pointer-events: auto;
}

.button,
button {
  background: var(--background);
  color: var(--background);
  font-weight: 600;
  padding: 0 6rem;
  line-height: 6rem;
  font-size: var(--fs1);
  border-radius: 3rem;
  cursor: pointer;
  width: auto;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  transition: transform 200ms ease-in-out;
  transform: translateY(0);
}

/*
.button:hover,
button:hover {
  transform: translateY(-0.2rem);
}

.button:active,
button:active {
  transform: translateY(0.2rem);
  transition: transform 50ms ease-in-out;
}
*/

.button.get-started {
  background: var(--yellow);
  cursor: default;
}

section.features {
  background: var(--blue);
}

ul.features {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 120rem;
}

ul.features > li {
  margin: 1rem 0;
}

/**
 * animate
 */

@keyframes fadeIn {
  0%   { transform: scale(1.1); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes slideIn {
  0%   { transform: translateY(3rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes buttonIn {
  0%   { transform: translateY(-3rem) rotate(0.0001deg); opacity: 0; }
  50%   { transform: translateY(-3rem) rotate(0.0001deg); opacity: 0; }
  100% { transform: translateY(0) rotate(0.0001deg); opacity: 1; }
}

/**
 * respond
 */

@media (min-width: 767px) {
  footer {
    padding: 4rem;
    line-height: 1;
  }

  p a:hover {
    text-decoration: underline;
  }

  ul.features {
    padding: 4rem;
  }

  .screenshot > img {
    opacity: calc(var(--unit) * -0.75  + 1);
    opacity: 1;
    transform: perspective(100vmin) rotate(0.0001deg) rotate3d(calc(var(--unity)), calc(-1 * var(--unitx)), 0, calc(7.5deg * var(--unit))) translate3d(0, 0, calc(25vmin * var(--unit) * -1));
  }
}