:root {
  --foreground: #e5e5e5; 
  --background: #1a1a1a;
  --grey25: #aaa;
  --grey50: #999;
  --grey75: #666;
  --blue: #005FD2;
  --yellow: #F8BE15;
  --green: #00907A;
  --red: #F21307;
  --fs1: 1.8rem;
  --fs2: 2.7rem;
  --fs3: 3.6rem;
  --fs4: 5.4rem;
  --mono: "SFMono-Regular", "SF Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --expanded: 'lunchtype24expanded_regular',  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: calc(62.5%);
  line-height: 2rem;
}

body {
  background-color: var(--background);
  line-height: 1.35;
  font-size: var(--fs1);
  font-family: "lunchtype22regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: auto;
  color: var(--foreground);
}

header {
  background: #1a1a1a;
  cursor: default;
  display: flex;
  padding: 2rem 2rem 5rem;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -moz-user-select: -moz-none;
}

header canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/**
 * entry
 */

.container-entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container-entry > :first-child {
  position: relative;
  flex: 1;
}

.content-entry {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
}

/* video */

.content-entry-video {
  background: #000;
  display: flex;
  flex-direction: column;
}

.content-entry-video nav {
  line-height: var(--fs2);
  background: var(--blue);
  font-size: var(--fs2);
  padding: 2rem 4rem;
}

.content-entry-video nav a {
  color: inherit;
  font-family: var(--mono);
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
}

.content-entry-video nav a span { display: none; vertical-align: top; font-size: var(--fs1); }
.content-entry-video nav a:hover span { display: inline-block }

.content-entry-video h2 {
  font-size: inherit;
  text-align: center;
}

.media-entry-video {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.media-entry-video-thumbnail {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20vw;
  font-family: var(--expanded);
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: #fff;
  -webkit-text-stroke-color: #fff;
  -moz-text-stroke-width: 1px;  
  -webkit-text-stroke-width: 1px;
}

.media-entry-video video {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.media-entry-video .non-p2p {
  background: rgba(0, 0, 0, 0.8);
  font-size: var(--fs2);
  color: var(--foreground);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
}

.media-entry-video .non-p2p-links {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--mono);
  margin: 2rem 4rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.media-entry-video .non-p2p-links a {
  color: var(--foreground);
  text-decoration: none;
}

/**
 * copy
 */

h1 {
  color: #fff;
  font-size: 35vw;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
}

h2 {
  font-size: 6.5vw;
}

h3 {
  font-size: var(--fs2);
  font-family: var(--expanded);
  color: #fff;
  font-weight: normal;
  margin-bottom: 2rem;
}

p { }

p a {
  color: var(--green);
  text-decoration: none;
}

p del {
  position: relative;
  text-decoration: none;
}

p del:after {
  background: var(--red);
  content: '';
  display: block;
  position: absolute;
  top: 55%;
  left: 0;
  height: 0.1em;
  width: 100%;
}

/**
 * colors
 */

.colors {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem;
  z-index: 3;
}

.colors > div {
  border-radius: 0.5rem;
  margin: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.colors > div:nth-child(2) { background: #fff }
.colors > div:nth-child(1) { background: var(--foreground) }
.colors > div:nth-child(3) { background: var(--background) }
.colors > div:nth-child(4) { background: var(--blue) }
.colors > div:nth-child(5) { background: var(--yellow) }
.colors > div:nth-child(6) { background: var(--green) }
.colors > div:nth-child(7) { background: var(--red) }

header svg {
  position: relative;
  z-index: 2;
}
nav.action-bar {
  margin: 2.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 3;
}

nav.action-bar > * {
  pointer-events: auto;
}

nav.action-bar .button,
nav.action-bar button {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--expanded);
  font-weight: normal;
  padding: 0 6rem;
  position: relative;
  line-height: 6rem;
  font-size: var(--fs1);
  border-radius: 3rem;
  cursor: pointer;
  height: 6rem;
  width: auto;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  transition: transform 200ms ease-in-out;
  transform: translateY(0);
  -webkit-appearance: none;
}

nav.action-bar input {
  font-size: var(--fs1);
  background: var(--background);
  font-family: var(--expanded);
  color: var(--foreground);
  height: 6rem;
  line-height: 6rem;
  border-radius: 3rem;
  text-align: center;
  outline: 0;
}

nav.action-bar input[type="email"] {
  background: #fff;
  color: var(--background);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transition: opacity 100ms ease-out, transform 100ms ease;
}

nav.action-bar input[type="email"]:not([value=""]),
nav.action-bar input[type="email"]:hover,
nav.action-bar input[type="email"]:focus {
  opacity: 1;
}

nav.action-bar input:not([value=""]),
nav.action-bar input[type="email"]:focus {
  transform: translateX(-1.5rem);
}

nav.action-bar input, input:focus {
  outline: 0;
}

nav.action-bar input:not([value=""]):invalid {
  color: var(--red);
}

nav.action-bar button[type="submit"] {
  background: #fff;
  color: var(--blue);
  padding: 0 1.5rem 0 4rem;
  display: block;
  font-family: var(--mono);
  position: absolute;
  top:0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms ease-out, transform 100ms ease;
}

nav.action-bar input:not([value=""]) + button[type="submit"],
nav.action-bar input[type="email"]:focus + button[type="submit"] {
  opacity: 1;
  transform: translateX(1.5rem);
}

nav.action-bar .button.get-started {
  background: #fff;
  color: var(--background);
  cursor: default;
}

section.ps {
  background: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10rem);
}

section.ps > div {
  background: var(--grey25);
  box-shadow: 0 0 7rem 7rem var(--grey25);
  height: 25vh;
  width: 50vw;
}

section.subtitle {
  background: var(--yellow);
  padding: 4rem;
  text-align: center;
}

section.subtitle h2 {
  color: var(--background);
  font-size: 6.5vw;
  line-height: 1;
  margin: 0 auto;
  max-width: 120rem;
}

section.subtitle p {
  line-height: 1.25;
}

section.features {
  background: var(--background);
  color: var(--grey50);
}

ul.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 120rem;
}

ul.features > li {
  margin: 1rem 0;
}

/**
 * featured
 */

section.featured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.featured a,
.featured img {
  display: block;
  width: 100%;
  height: auto;
}

.log-featured {
  background: var(--blue);
  position: relative;
}

.p2p-web {
  background: #000;
}

/**
 * load
 */

.load {
  box-sizing: border-box;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: -1rem;
  text-indent: -9999em;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid var(--background);
  border-left: 3px solid var(--background);
  animation: load 1s infinite linear;
}

@keyframes load {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/**
 * animate
 */

@keyframes fadeIn {
  0%   { transform: scale(1.1); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes slideIn {
  0%   { transform: translateY(3rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes buttonIn {
  0%   { transform: translateY(-3rem) rotate(0.0001deg); opacity: 0; }
  50%   { transform: translateY(-3rem) rotate(0.0001deg); opacity: 0; }
  100% { transform: translateY(0) rotate(0.0001deg); opacity: 1; }
}

/**
 * respond
 */

@media (min-width: 767px) {
  section.subtitle {
    padding: 8rem 6rem;
  }

  p a:hover {
    text-decoration: underline;
  }

  ul.features {
    padding: 4rem;
  }

  .screenshot > img {
    opacity: calc(var(--unit) * -0.75  + 1);
    opacity: 1;
    transform: perspective(100vmin) rotate(0.0001deg) rotate3d(calc(var(--unity)), calc(-1 * var(--unitx)), 0, calc(7.5deg * var(--unit))) translate3d(0, 0, calc(25vmin * var(--unit) * -1));
  }
}

/**
 * typography
 */

@font-face {
  font-family: 'lunchtype22regular';
  src: url('/assets/lunchtype22-regular-webfont.eot') format('eot'),
       url('/assets/lunchtype22-regular-webfont.ttf') format('ttf'),
       url('/assets/lunchtype22-regular-webfont.woff2') format('woff2'),
       url('/assets/lunchtype22-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lunchtype24expanded_regular';
  src: url('/assets/lunchtype22-medium-webfont.eot') format('eot'),
       url('/assets/lunchtype22-medium-webfont.ttf') format('ttf'),
       url('/assets/lunchtype22-medium-webfont.woff2') format('woff2'),
       url('/assets/lunchtype22-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
